.upperdiv{
    color: yellow;
}
#innerdiv{
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 1000px;
    color: yellowgreen;
    border: 2px solid black;
}
.leftdiv{
    height: 500px;
    width: 300px;
    background-color: yellow;
    margin-right: 100px;
}
.rightdiv{
    height: 500px;
    width: 500px;
    background-color: red;
}
#leftdiv{
    height: 500px;
    width: 300px;
    background-color: yellow;
    margin-right: 100px;
}

.image{
    /* background-color: black; */
    height: 100px;
    width: 100px;
    /* background-image: url('../Desktop/_su_misty_-20221117-0002.webp'); */
}